In [1]:
from data_functions import *

In [3]:
DSMC = pd.read_csv('./Data/South Korea - Dongkuk Steel Mill Co Ltd (001230).csv')
DSMC

,Date,Price,Open,High,Low,Vol.,Change %
0,"Mar 31, 2021","13,650","13,700","13,750","13,450",0.19K,0.00%
1,"Mar 30, 2021","13,650","13,850","14,200","13,050",3.17M,0.74%
2,"Mar 29, 2021","13,550","12,500","13,800","12,500",0.20K,11.07%
3,"Mar 28, 2021","12,200","12,200","12,200","12,200",-,0.00%
4,"Mar 26, 2021","12,200","11,500","12,300","11,350",2.34M,7.96%
...,...,...,...,...,...,...,...
337,"Jan 07, 2020","5,690","5,740","5,770","5,650",303.89K,-0.70%
338,"Jan 06, 2020","5,730","5,890","5,890","5,680",319.88K,-2.88%
339,"Jan 03, 2020","5,900","5,870","5,920","5,830",230.40K,0.85%
340,"Jan 02, 2020","5,850","5,930","5,980","5,820",239.90K,-1.68%
341,"Highest: 14,200","Lowest: 2,780","Difference: 11,420","Average: 6,492",Change %: 129,NaN,NaN

In [4]:
DSMC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      342 non-null    object
 1   Price     342 non-null    object
 2   Open      342 non-null    object
 3   High      342 non-null    object
 4   Low       342 non-null    object
 5   Vol.      341 non-null    object
 6   Change %  341 non-null    object
dtypes: object(7)
memory usage: 18.8+ KB

In [6]:
## drop last row because it doesn't contain relevant information

DSMC.drop(341, inplace=True)

In [7]:
## change date column to datetime

DSMC['Date'] = pd.to_datetime(DSMC['Date'], format='%b %d, %Y')

In [9]:
## change price columns to integer

DSMC['Price'] = DSMC['Price'].str.replace(',', '').astype(float)
DSMC['Open'] = DSMC['Open'].str.replace(',', '').astype(float)
DSMC['High'] = DSMC['High'].str.replace(',', '').astype(float)
DSMC['Low'] = DSMC['Low'].str.replace(',', '').astype(float)

In [10]:
DSMC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 340
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      341 non-null    datetime64[ns]
 1   Price     341 non-null    float64
 2   Open      341 non-null    float64
 3   High      341 non-null    float64
 4   Low       341 non-null    float64
 5   Vol.      341 non-null    object
 6   Change %  341 non-null    object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 21.3+ KB

In [11]:
DSMC.sort_values(['Date'], ascending=True, ignore_index=True, inplace=True)
DSMC

          Date    Price     Open     High      Low     Vol. Change %
0   2020-01-02   5850.0   5930.0   5980.0   5820.0  239.90K   -1.68%
1   2020-01-03   5900.0   5870.0   5920.0   5830.0  230.40K    0.85%
2   2020-01-06   5730.0   5890.0   5890.0   5680.0  319.88K   -2.88%
3   2020-01-07   5690.0   5740.0   5770.0   5650.0  303.89K   -0.70%
4   2020-01-08   5430.0   5640.0   5640.0   5390.0  524.10K   -4.57%
..         ...      ...      ...      ...      ...      ...      ...
336 2021-03-26  12200.0  11500.0  12300.0  11350.0    2.34M    7.96%
337 2021-03-28  12200.0  12200.0  12200.0  12200.0        -    0.00%
338 2021-03-29  13550.0  12500.0  13800.0  12500.0    0.20K   11.07%
339 2021-03-30  13650.0  13850.0  14200.0  13050.0    3.17M    0.74%
340 2021-03-31  13650.0  13700.0  13750.0  13450.0    0.19K    0.00%

[341 rows x 7 columns]

In [12]:
## find rows for 2021 data

DSMC.loc[DSMC['Date'] > '2020-12-31']

          Date    Price     Open     High      Low   Vol. Change %
272 2021-01-04   8680.0   8120.0   8690.0   7990.0  9.63K    6.90%
273 2021-01-05   9130.0   8700.0   9560.0   8640.0  0.02K    5.18%
274 2021-01-06   9050.0   9190.0   9300.0   8870.0  0.13K   -0.88%
275 2021-01-07   9140.0   9180.0   9410.0   9120.0  0.33K    0.99%
276 2021-01-08   9270.0   9150.0   9470.0   9050.0  2.39M    1.42%
..         ...      ...      ...      ...      ...    ...      ...
336 2021-03-26  12200.0  11500.0  12300.0  11350.0  2.34M    7.96%
337 2021-03-28  12200.0  12200.0  12200.0  12200.0      -    0.00%
338 2021-03-29  13550.0  12500.0  13800.0  12500.0  0.20K   11.07%
339 2021-03-30  13650.0  13850.0  14200.0  13050.0  3.17M    0.74%
340 2021-03-31  13650.0  13700.0  13750.0  13450.0  0.19K    0.00%

[69 rows x 7 columns]

In [13]:
## split training data and testing data, testing data will be the year of 2021

training_data = DSMC[['Date', 'Price']][:272]
testing_data = DSMC[['Date', 'Price']][272:]

In [14]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(DSMC[['Price']])
scaled_train_data = scaled_data[:272]

In [16]:
len(training_data)

272